<div class="panel panel-default">
  <div class="panel-heading">Lister tous les  utilisateurs</div>
  <div class="panel-body">
    <table class="table table-dark">
      <tr>
        <th>id</th>
        <th>username</th>
        <th>roles</th>
        <th>nomcomplet</th>
        <th>telephone</th>
        <th>statut</th>
        <th>Date Création</th>

      </tr>
      <tr *ngFor="let use of utilisateur">
        <td>{{use.id}}</td>
        <td>{{use.username}}</td>
        <td>{{use.roles}}</td>
        <td>{{use.nomcomplet}}</td>
        <td>{{use.telephone}}</td>
        <td>{{use.statut}}</td>
        <td>{{use.updatedAt}}</td>


      </tr>
    </table>
  </div>
</div>

