<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form #c="ngForm" (ngSubmit)="submitcompte(c.value)">

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Compte</label>
                <div class="col">
                    <input type="text" #NumCompte ngModel required="required" name="NumCompte" class="form-control" id="inputPassword3" placeholder="Numero de Compte ">
                </div>
            </div>

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <div class="col">
                    <button type="submit" name="valider" class="btn btn-primary">COMPTE</button>
                </div>
            </div>
        </form>


        <div *ngFor="let comptes of compt ">

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Id Compte</label>
                <div class="col">
                    <input type="text" disabled value={{comptes.id}} class="form-control" id="inputPassword3">
                </div>
            </div>

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Numero Compte</label>
                <div class="col">
                    <input type="text" disabled value={{comptes.NumCompte}} class="form-control" id="inputPassword3">
                </div>
            </div>

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Solde</label>
                <div class="col">
                    <input type="text" disabled value={{comptes.solde}} class="form-control" id="inputPassword3">
                </div>
            </div>

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Partenaire</label>
                <div class="col">
                    <input type="text" disabled value={{comptes.partenaire.nomEntreprise}} class="form-control" id="inputPassword">
                </div>
            </div>


        </div>


        <form *ngFor="let comptes of compt " #f="ngForm" (ngSubmit)="onsubmit(f.value)">
            <div class="form-group">
                <label class="control-label">Montant</label>
                <input type="number" #montant name="montant" ngModel class="form-control">
            </div>

            <div class="form-group row col-6 col-md-push-4 offset-md-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Compte</label>
                <div class="col">
                    <input type="text" #compte name="compte" ngModel={{comptes.id}} class="form-control">

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</div>
