<div class="panel panel-default">
    <div class="panel-heading">Liste des partenaires</div>
    <div class="panel-body">
        <table class="table table-dark">
            <tr>
                <th>id</th>
                <th>nom_entreprise</th>
                <th>rs</th>
                <th>ninea</th>
                <th>adresse</th>
                <th>statut</th>
            </tr>
            <tr *ngFor="let part of partenaires">
                <td>{{part.id}}</td>
                <td>{{part.nomEntreprise}}</td>
                <td>{{part.RS}}</td>
                <td>{{part.NINEA}}</td>
                <td>{{part.Adresse}}</td>
                <td>{{part.Statut}}</td>


            </tr>
        </table>
    </div>
</div>
