<div class="container-fluid">

    <form [formGroup]="retrait" (ngSubmit)="onsubmit(retrait.value)">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12 col-lg-4 mb-4 align-items-stretch">
                <div class="card border-0 rounded h-100">
                    <div class="card-title mb-1 p-3">
                        <h5>Retrait</h5>
                    </div>
                    <div class="card-body">


                        <div class="form-group">
                            <label for="exampleFormControlInput1">Code</label>
                            <input type="texte" class="form-control  rounded" formcontrolname="code" placeholder="Code">
                            <div *ngFor="let error of erreurmes.code">
                                <div *ngIf="retrait.get('code').hasError(error.type) &&
                                                                                                      (retrait.get('code').dirty || (retrait.get('code').touched))">
                                    {{error.message}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Type Piece</label>
                            <input type="texte" class="form-control  rounded" formcontrolname="typepieceBen" placeholder="typepieceBen">
                            <div *ngFor="let error of erreurmes.typepieceBen">
                                <div *ngIf="retrait.get('typepieceBen').hasError(error.type) &&
                                                                                         (retrait.get('typepieceBen').dirty || (retrait.get('numeropieceBen').touched))">
                                    {{error.message}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Numéro Piece</label>
                            <input type="number" class="form-control  rounded" formcontrolname="numeropieceBen" placeholder="numeropieceBen">
                            <div *ngFor="let error of erreurmes.numeropieceBen">
                                <div *ngIf="retrait.get('numeropieceBen').hasError(error.type) &&
                                                                                                      (retrait.get('numeropieceBen').dirty || (retrait.get('numeropieceBen').touched))">
                                    {{error.message}}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-lightning rounded mb-2 mr-2">Envoyer</button>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-4 align-items-stretch">
                <div class="card border-0 rounded-0 h-100">
                    <div class="card-title mb-1 p-3"></div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </form>
</div>
