<br> <br>
<h1 align="center"> Ajouter User</h1>
<br>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<form [formGroup]="user" (ngSubmit)="onsubmit(user.value)">
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
    <div class="col">
      <input type="text" formControlName="username" name="username" class="form-control" id="username"
        placeholder="Username">
        <div *ngFor="let error of erreurmes.username">
          <div *ngIf="user.get('username').hasError(error.type) && 
          (user.get('username').dirty || (user.get('username').touched))">
              {{error.message}}
          </div>
        </div>
    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col">
      <input type="password"  formControlName="plainPassword" class="form-control" id="inputplainPassword3"
        placeholder="Taper Votre plainPassword">
        <div *ngFor="let error of erreurmes.plainPassword">
          <div *ngIf="user.get('plainPassword').hasError(error.type) && 
                  (user.get('plainPassword').dirty || (user.get('plainPassword').touched))">
            {{error.message}}
          </div>
        </div>
    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputNomcomplet" class="col-sm-2 col-form-label">Nom Complet</label>
    <div class="col">
      <input type="text"  formControlName="nomcomplet" class="form-control" id="nomcomplet"
        placeholder="Taper Votre nom">
        <div *ngFor="let error of erreurmes.nomcomplet">
          <div *ngIf="user.get('nomcomplet').hasError(error.type) && 
                  (user.get('nomcomplet').dirty || (user.get('nomcomplet').touched))">
            {{error.message}}
          </div>
        </div>
    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Telephone</label>
    <div class="col">
      <input formControlName="telephone"  name="telephone"
        class="form-control" id="inputTelephone" placeholder="Téléphone">
        <div *ngFor="let error of erreurmes.telephone">
          <div *ngIf="user.get('telephone').hasError(error.type) && 
                  (user.get('telephone').dirty || (user.get('telephone').touched))">
            {{error.message}}
          </div>
        </div>
    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Rôle</label>
    <div class="col">
      <select class="form-control"  formControlName="profil">
        <option *ngFor="let pr of profils" value="{{pr.id}}">{{pr.libelle}}</option>

      </select>
    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
    <div class="col">
      <img alt="" [src]="imageUrl" style="width: 250px; height:200px">

    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Photo</label>
    <div class="col">
      <input name="photo"  type="file" #Image accept="image/"
        (change)="handleFileInput($event.target.files)">
    </div>
  </div>
  <div class="form-group row col-6 col-md-push-4 offset-md-3">
    <div class="col">
      <button type="submit" name="valider" class="btn btn-primary"
       [disabled]="!user.valid" >AJOUTER</button>
    </div>
  </div>
</form>
  </div>
 </div>